.logo {
    border-radius: 130px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: rgb(240, 107, 84);
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    display: flex;
    background-image: url(https://cdn.glitch.global/bddb2b34-cf52-4e3c-a644-180ca5337dca/header.jpg?v=1668397654489);
}

.background-cover{    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: -webkit-optimize-contrast;
}

.section {
    width: 90vw;
    background-color: rgba(67, 17, 82, 0.05);
    border-left: 7px ridge rgb(240, 107, 84);
    border-right: 7px ridge rgb(240, 107, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 0 50px;
    box-sizing: border-box;
}


.section-title {
    font-family: 'Dragon FREE', sans-serif;
    color: rgb(231, 184, 184);
    font-size: 22px;
}

.dragon {
    font-family: 'Dragon FREE', sans-serif;
}

.selected {
    color: rgb(240, 107, 84);
}

.gameLogo {
    width: 100%;
    height: 100%;
}

.title {
    font-size: 27px;
}

.downloadBtn {
    margin-top: 15px;
    padding: 15px 25px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(69, 67, 67);
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(79, 76, 76);
    text-decoration: none;
    background-image: url(https://cdn.glitch.global/bddb2b34-cf52-4e3c-a644-180ca5337dca/download_button.jpeg?v=1668444945673);
    background-color: #999;
    width: 200px;
    padding: 20px;    
}

.equipementImg {
    background-color: white;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    position: relative;
    top: 5.5px;
}

.devs {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.devImg {
    height: auto;
    border-radius: 5px;
}

.footer {
    background-color: white;
    border-radius: 7px;
    padding: 4px;
    color: white;
    height: 100%;
    width: 97vw;
    background-size: 100% auto;
    display: flex;
    background-image: url(https://cdn.glitch.global/bddb2b34-cf52-4e3c-a644-180ca5337dca/header.jpg?v=1668397654489);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 4px ridge #999;
}

.supervisorBox {
    padding: 15px;
}

.linearGradient {
    height: 1vh;
    width: 99vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    top: -0.5vh;
    background-image: linear-gradient(to right, rgb(211, 152, 24),red,orange, red,rgb(211, 152, 24),red,orange,red,rgb(211, 152, 24));
    border-radius: 5px;
}


.github-btn {
    width: 10vh;
    position: relative;
    top: 0.9vh;
}


.gifs {
    border: 15px ridge grey;
}
