@font-face {
    font-family: 'dragon';
    src: url('https://cdn.glitch.global/bddb2b34-cf52-4e3c-a644-180ca5337dca/Dragon%20FREE.otf?v=1668387472353') format('opentype'),
         local('Dragon FREE') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    color: white;
}